@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

$bg-color: #f1f1f1;
$primary-color: #000;
$hilight-color: #e10600;
$light-color: #fff;
$boarder-color: #ddd;
$ff-primary: 'Glory', sans-serif;

*, *::before, *::after {
  box-sizing: boarder-box;
  margin: 0;
}

body {
  font-family: $ff-primary;
}

.header {
  padding: 50px 15px;
  background-color: $bg-color;
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 40px;
  font-weight: 300;
}

.table-container {
  max-width: 800px;
}